{{! BEGIN-SNIPPET simple-usage }}
<StripeCheckout @amount={{1000}} @onToken={{this.checkoutToken}} />
{{! END-SNIPPET }}
{{!
<h2>Simple usage</h2>
<p>
  In the most simplest use-case, all you need is to render the <b>stripe-checkout</b>
  component passing any options supported by
  <a href="https://stripe.com/docs/checkout#integration-custom">Stripe Checkout</a>.
  <CodeSnippet @name="simple-usage.hbs" />
</p>

<p>
  You'll probably want to pass at least the <i>amount</i> and handle <i>onToken</i> action.
  <CodeSnippet @name="simple-usage-actions.js" />
</p> }}