.v-container {
  height: 100vh;
}

nav {
  width: 100%;
  padding: 1.5em;
}

nav a {
  display: inline-block;
  padding: .5em;
  color: #1997c6;
  text-decoration: none;
}

nav a.active {
  color: #fff;
  border-radius: 0.25em;
  background-color: #1997c6;
}

.container {
  padding: 1.5em;
}
