<div class="v-container">
  <nav>
    <LinkTo @route="simple-usage">Simple Usage</LinkTo>
    <LinkTo @route="advanced-usage">Advanced Usage</LinkTo>
    <LinkTo @route="multiple-keys-usage">Multiple Keys Usage</LinkTo>
  </nav>

  <div class="container">
    {{outlet}}
  </div>
</div>
