<div class="v-container">
  <nav>
    {{#link-to 'simple-usage'}}Simple Usage{{/link-to}}
    {{#link-to 'advanced-usage'}}Advanced Usage{{/link-to}}
    {{#link-to 'multiple-keys-usage'}}Multiple Keys Usage{{/link-to}}
  </nav>

  <div class="container">
    {{outlet}}
  </div>
</div>
